#about-us > p {
    padding: 4em;
  }

.employees-container {
    display: flex;
}

.employee-pod {
    position: relative;
    width: auto;
    border-radius: 10px;
    margin: 2em;
}

.employee-pic {
    height: 200px;
    width: auto;
}

.employee-bio {
    position: absolute;
    background-color: rgba(16, 7, 17, .85);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.employee-bio > p {
    font-family: 'Playfair Display', serif;
    text-indent: 10px;
    padding: 0 1em;
    line-height: 1.25;
}

@media only screen and (max-width: 800px) {

    .employees-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 4em;
    }

    .employee-pic {
        height: 150px;
        width: auto;
        float: left;
        margin-right: .5em;
    }

    .employee-pod {
        margin: .5em;
        float: right;
    }

    .employee-bio-mobile {
        position: relative;
        top: unset;
    }

}