.faq-container {
    text-align: left;
}

.faq-wrapper {
    padding: 1em 1.25em 0;
}

#faq-form {
    display: flex;
    flex-direction: column;
}

.faq-wrapper > p {
    text-indent: 20px;
    line-height: 1.25;
}

.faq-input {
    border-radius: 4px;
    width: 50%;
    margin: .25em 0 1em;
    font-size: 16px;
}

.faq-email {
    height: 2.5em;
}

.faq-question {
    height: 8em;
}

.success-faq {
    margin-top: 1em;
}

@media only screen and (max-width: 800px) {
    .faq-container {
        padding-bottom: 3em;
    }

    .faq-input {
        width: 90%;
    }
}