#reserve {
    background: #000;
    overflow-y: hidden;
  }

.form-container {
    height: 65vh;
}

.form-container::-webkit-scrollbar {
    display: none;
  }

.flex-row {
    display: flex;
    padding-bottom: 1em;
    align-items: flex-start;
}

.flex-row > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2em;
}

.input {
    border-radius: 4px;
    height: 2.5em;
    font-size: 16px;
}

.reserve-hunt {
    width: fit-content !important;
}

.embed-g-cal {
    border: 0;
}

.react-calendar__tile--rangeStart {
    color: #fff;
    background-color: #000;
}

.react-calendar__month-view__days__day--weekend > * {
    color: #000;
}

.reserve-hunt .react-calendar__tile--active {
    background-color: #985a7e !important;
}

.react-calendar__month-view__weekdays__weekday {
    color: #985a7e;
}

.hidden {
    display: none;
}

.order-form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.bracket {
    color: #532944;
    font-size: 84pt;
    transform: rotate(90deg);
}

.form-details {
    padding: 2em .5em 0;
}

.versus, .example-interests-div {
    width: 50%;
}

.versus > label > input {
    height: 1em;
    width: fit-content;
}

@media only screen and (max-width: 800px) {
    .form-container {
        padding: 0 0 4em;
    }
    h2 {
        text-align: center;
    }
    .flex-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .flex-row > div {
        width: 100%;
    }
    .form-details {
        font-size: 12pt;
    }
}
