.form-content-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25%;
    grid-template-areas:
        '. content'
        'flower content';
    column-gap: 10px;
}

.scroll-button.left-scroll.hidden, .scroll-button.right-scroll.hidden {
    display: none;
}

.intake-page {
    display: none;
}

.intake-page.show {
    display: flex;
    flex-direction: column;
}

.hidden-radio {
    opacity: 0;
    position: fixed;
    width: 0;
}

.scroll-button.right-scroll.disabled {
    background-image: url('./pics/disabledNextLogo.png');
}

.flower-portion {
    grid-area: flower;
    pointer-events: none;
}

.content-portion {
    grid-area: content;
    padding: 0 2em 2em;
    height: fit-content;
}

.prelim {
    align-items: flex-end;
}

.prelim-copy {
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-size: 18pt;
    margin-bottom: 1em;
}

.city-state-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.true {
    background-color: #975a7da3;
    color: #000;
    font-weight: bold;
}

.area {
    margin-top: 1em;
    padding: 1em;
    height: 12em;
}

.example-interests-div > p {
    padding: 0 1em;
    font-size: 12pt;
}

.name.input {
    margin-bottom: 1em;
}

.party-num-select {
    font-size: 16px;
}

.flower-portion > iframe {
    height: 50vh;
    width: 100%;
}

.title-cover {
    position: relative;
    width: 100%;
    height: 9vh;
    background-color: #000;
    z-index: 10;
}

.top {
    top: 8vh;
}

.bottom {
    bottom: 9vh;
}

@media only screen and (max-width: 800px) {
    #reserve {
        background-color: #13031475;
        overflow-y: scroll;
    }
    .form-content-container {
        display: flex;
    }
    .flower-portion {
        display: none;
    }
    .content-portion {
        width: 100%;
        padding: 0 0 4em;
    }
    .prelim-copy {
        text-align: left;
        font-size: 12pt;
    }
    .intake-page {
        padding: 0 1em;
    }
    .city-state-row {
        flex-direction: column;
        align-items: baseline;
    }
    .area {
        margin-bottom: 1em;
    }
}

 