#home {
    background: none;
    padding: 0;
    height: fit-content;
    width: unset;
    overflow-y: hidden;
    justify-content: center;
  }

.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
}

.about-us-container {
    background: rgba(18, 3, 19, .5);
    border-radius: 4px;
    border: 1px solid #a7869380;
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
    text-align: justify;
    color: #fff;
    text-shadow: 0.5px 0.5px #fff;
    padding: 1em;
    margin-left: 1em;
    text-indent: 20px;
    height: fit-content;
  }

  .indent {
      text-indent: 20px;
  }

  @media only screen and (max-width: 800px) {
    #home {
        justify-content: start;
        width: 90vw;
      }
    .home-page {
        flex-direction: column;
        background-size: cover;
        position: relative;
        width: 90vw;
        overflow-y: scroll;
    }
    .about-us-container {
        font-size: 16px;
        margin: 1em 0 0;
      }
  }
