.not-found-container {
    background-image: url('./pics/404Wallpaper.png');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: inherit;
}

.four-symbol {
    height: 50vh;
}