#gallery {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
}

.past-event-container {
  padding: 0 4em 4em;
  font-size: 14pt;
  }
  
  .review {
    display: flex;
    align-items: baseline;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    margin: .5em 1em;
  }
  
  .results {
    display: flex;
  }
  
  .summary-pic {
    width: 250px;
    height: fit-content;
    margin-right: 1em;
  }

  @media only screen and (max-width: 800px) {
    #gallery {
      align-items: center;
    }
    .past-event-container {
      padding: 1em 2em 2em;
      font-size: 12pt;
    }
    .past-event-container > h3 {
      margin: 0;
    }
    .past-event-container > h4 {
      margin: 1em 0;
    }
    .results {
      flex-direction: column;
    }
    #events-pic-0 {
      height: 175px;
      width: 233px;
    }
    #events-pic-1 {
      height: 80px;
      width: 250px;
    }
    #events-pic-2 {
      height: 140px;
      width: 250px;
    }
    #events-pic-3 {
      height: 333px;
      width: 250px;
    }
  }