.App {
  text-align: center;
  margin: 1em auto;
  height: 95vh;
  width: 95vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  position: absolute;
  margin: .25em 0;
  z-index: 5;
  width: 99vw;
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #a7869380;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
}

.point {
  cursor: pointer;
}

.point, .top-nav-wrapper {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.top-nav-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 80%;
  justify-content: space-between;
}

.top-nav-ul > li {
  line-height: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 16pt;
  color: #fff;
  margin-right: 1em;
}

.top-nav-ul > li:hover {
  text-decoration: underline;
  font-weight: bold;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

.logo {
  position: relative;
  z-index: 2;
  width: 115px;
  height: 115px;
}

.content-container {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 125px;
  text-align: left;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  width: 55vw;
  margin: auto;
  background-color: rgba(99, 94, 97, 0.5);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.name-space {
  font-family: 'Satisfy', cursive;
  color: #fff;
  font-weight: 400;
  font-size: 31pt;
}

h3 {
  font-family: 'Playfair Display', serif;
}

.submit-btn {
  -webkit-appearance: none;
  height: 3em;
  background-color: #532944;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display';
  padding: .5em 3em;
  width: fit-content;
  box-shadow: 1px 1px #000;
}

.scroll-button {
  position: absolute;
  background: url('./Components/pics/nextLogo.png');
  background-size: contain;
  height: 60px;
  width: 60px;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto;
}

.left-scroll {
  left: 15px;
  z-index: 21;
  background-image: url('./Components/pics/backLogo.png');
}

.right-scroll {
  right: 15px;
  z-index: 21;
}

.indent {
  text-indent: 20px;
}

.footer-specs {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 6vh;
    background-color: rgba(0,0,0,.95);
    padding: 5px;
    width: 99vw;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    text-align: center;
    border-top: 1px solid #a7869380;
    border-radius: 10px;
}

.footer-nav-ul {
  display: flex;
  flex-direction: row;

}

.footer-nav-ul > li > a:link {
  padding-right: 1em;
}

.footer-specs > p {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  .App {
    height: 90vh;
    overflow-y: scroll;
  }
  
  .nav-bar {
    background-color: rgb(18 3 19);
    margin: .25em auto;
    left: 0;
    right: 0;
    width: 90vw;
  }

  .point, .top-nav-wrapper {
    width: auto;
    text-align: center;
  }
  .top-nav-wrapper {
    width: 70vw;
  }

  .name-space {
    margin: 0;
    font-size: 14pt;
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  .top-nav-ul {
    justify-content: space-between;
    width: unset;
    padding: 0 0.5em;
  }

  .top-nav-ul > li {
    font-size: 12pt;
    line-height: 23px;
    margin-right: .5em;
  }

  .content-container {
    padding: 2em 0;
    width: 90vw;
    top: 115px;
    height: 60vh;
    margin: auto;
  }

  .scroll-button {
    bottom: unset;
    position: fixed;
    top: 20vh;
    height: 55px;
    width: 55px;
  }

  .footer-specs {
    height: 5vh;
    font-size: 7pt;
    background-color: rgba(0,0,0,1);
  }

}
